{% extends "itens/home.html" %}
{% block title %}{{ menu.itensemp }}{% endblock %}
{% block content %}
<h1>{{ menu.itensemp }}</h1>
    {% if empresa %}<h4>{{ empresa }}</h4>{% endif %}
    <div class="row">
        <ul class="col">
        {% if itemempresa_list %}
        {% for item in itemempresa_list %}
            <il> {{ item }} </il>
        {% endfor %}
        {% endif %}
        </ul>
        <ul class="col">
        {% if itens %}
        {% for iten in itens.values %}
        <il> {{ iten }} </il>
        {% endfor %}
        {% endif %}
        </ul>
    </div>
<p id="conteudo"></p>
{% endblock %}