{% extends "itens/home.html" %}
{% block title %}Extrutura Mercadologica 2020{% endblock %}
{% block content %}
<h1>Extrutura Mercadologica 2020</h1>
  {% if mercadologica_list %}
  <main class="container-fluid">
    <div class="row">
      <div class="col-sm-5">
      <h2>Base de dados</h2>
      <ul class="flex-column" style="list-style-type:none;">
        {% for mercadologica in mercadologica_list %}
          <li>
          {% if mercadologica.codigo != "0" %}
            {{mercadologica.codigo}} - {% endif %}{{mercadologica.descricao}}
            <span class="badge bg-info">ID: {{mercadologica.id}}
            <a 
            onclick="atualizamercadologica('/admin/itens/mercadologica/{{mercadologica.id}}/change/?_to_field=id&amp;_popup=1',{{mercadologica.id}})"
            {% comment %}target="_blank" 
            class="related-widget-wrapper-link change-related" 
            id="change_id_classificacao"
            href="/admin/itens/mercadologica/{{mercadologica.id}}/change/?_to_field=id&amp;_popup=1" 
            data-popup="yes" {% endcomment %}
            title="Alterar mercadologica selecionado">
            <img src="/static/admin/img/icon-changelink.svg" alt="Modificar" 
            data-bs-toggle="modal" data-bs-target="#myModal"></a></span>
            
          </li>
        {% endfor %}
      </ul>
  {% else %}
        <p>Não tem lista Mercadologica</p>
  {% endif %}
      <p><a {% comment %}class="related-widget-wrapper-link add-related" id="add_id_classificacao"
       
       data-popup="yes" href="/admin/itens/mercadologica/add/?_to_field=id&amp;_popup=1" 
       {% endcomment %}
       onclick="novomercadologica('/admin/itens/mercadologica/add/?_to_field=id&amp;_popup=1')"
       title="Adicionar outro mercadologica"
       data-bs-toggle="modal" data-bs-target="#myModal">Novo 
       <img src="/static/admin/img/icon-addlink.svg" alt="Adicionar">
       </a></p>
    </div>
    <div class="col-sm-7">
      <h2>Arquivo de referencia</h2>
      <ul id="refmerc" class="flex-column" style="list-style-type:none;">

      </ul>
    </div>
  </div>
  <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div id=modalmercadologica></div>
      <!-- Modal Header ->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <-- Modal body ->
      <div class="modal-body">
        Modal body..
      </div>

      <-- Modal footer ->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div-->

    </div>
  </div>
</div>
  </main>
  <script>
  {% if arqjson %}
  async function spa(id, text){
    let myJson = '/?em=' + text;
    let retorno = await getJson(myJson);
    let sp = document.getElementById(id);
    if (retorno.id) {
       sp.className = "badge bg-success";
       sp.innerText = "ID: " + retorno.id 
    }
    
    //return sp;
  }
  function fazid(desc, cod){
    let id = desc+cod;
    id = id.replaceAll(/\s/g, '');
    id = id.replaceAll("/","");
    return id;
  }
 function sp(desc, cod = 0, sup=0){
  let sp = document.createElement("span");
  let text = '{"cod":"' + cod + '","desc":"' + desc + '","sup":"'+ sup + '"}';
  text = `<a onclick="novomercadologica('/admin/itens/mercadologica/add/?_to_field=id&amp;_popup=1','` + text +`')"
       title="Adicionar outro mercadologica" data-bs-toggle="modal" data-bs-target="#myModal">` + text +`
       <img src="/static/admin/img/icon-addlink.svg" alt="Adicionar">
       </a>`
  sp.setAttribute('id', fazid(desc, cod));
  sp.className = "badge bg-danger";
  sp.innerHTML = text;
  return sp
 }
  function uli(desc, cod = 0, sup){
    let refmer = document.getElementById('refmerc');
    let lis = document.createElement("li");
    let tex = document.createTextNode(cod == 0 ? desc : cod + " - " + desc );
    lis.setAttribute('id', desc);
    lis.setAttribute('data-bs-toggle', "collapse");
    //lis.setAttribute('href', "." + cod);
    cod != 0? lis.setAttribute('class', "collapse "+sup.replace(/\s/g, '')):lis.setAttribute('data-bs-target', "." + desc.replace(/\s/g, ''));
    lis.appendChild(tex);
    let spa = sp(desc, cod, sup)
    lis.appendChild(spa);
    refmer.appendChild(lis);
    //console.log(lis);
  }
  function arqRef(){
    let arqmerc = '{{ arqjson }}';
    arqmerc = arqmerc.replaceAll("&quot;",'"');
    let listasp=[];
    const objarq = JSON.parse(arqmerc);
    for (const cr in objarq) {
      if (Object.hasOwnProperty.call(objarq, cr)) {
        const cre = objarq[cr];
        uli(cr, 0, cr);
        listasp.push(fazid(cr, 0));
        for (const gr in cre) {
          if (Object.hasOwnProperty.call(cre, gr)) {
            const gru = cre[gr];
            uli(gr, gru['cod'], cr);
            listasp.push(fazid(gr, gru['cod']));
            for (const cat in gru) {
              if (Object.hasOwnProperty.call(gru, cat)) {
                const ca = gru[cat];
                if (cat=="tag" || cat=="cod") {
                  if (cat=="tag"){
                  }
                }else{
                  uli(cat, ca['cod'], cr);
                  listasp.push(fazid(cat, ca['cod']));
                  for (const c in ca) {
                    if (Object.hasOwnProperty.call(ca, c)) {
                      if (c=="tag"|| c=="cod") {
                      }else{
                        const f = ca[c];
                        uli(c, f['cod'], cr);
                        listasp.push(fazid(c, f['cod']));
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    listasp.forEach(element => {
      let s = document.getElementById(element);
      let stext = s.innerText;
      spa(element,stext);
      //console.log(s +" <=> "+stext);
    });
  }
  arqRef()
  async function atualizamercadologica(link,id){
    let result = await getText(link);
    let mod = document.getElementById("modalmercadologica");
    mod.innerHTML = result;
    let form = document.getElementById("mercadologica_form");
    form.setAttribute('action', '/admin/itens/mercadologica/'+id+'/change/');
  }
  async function novomercadologica(link,id){
    let result = await getText(link);
    let mod = document.getElementById("modalmercadologica");
    mod.innerHTML = result;
    let form = document.getElementById("mercadologica_form");
    form.setAttribute('action', '/admin/itens/mercadologica/add/');
    console.log(id);
  }
  {% endif %}

  </script>
  
  {% endblock %}
