{% extends "itens/home.html" %}
{% block title %}Extrutura Mercadologica 2020{% endblock %}
{% block content %}
  <h1>Extrutura Mercadologica 2020</h1>
  <form action="" method="get">
    <input type="hidden" name="page" value="{{ page_obj.number }}">
    <label for="ipaginat">Quantidade:</label>
    <select name="npaginat" id="ipaginat">
      <option value="15" {% if get.paginat == 15 %}selected {% endif %} >15</option>
      <option value="30" {% if get.paginat == 30 %}selected {% endif %}>30</option>
      <option value="50"{% if get.paginat == 50 %}selected {% endif %}>50</option>
      <option value="100"{% if get.paginat == 100 %}selected {% endif %}>100</option>
    </select>
    <label for="ifiltro">Pesquisar:</label>
    <input type="search" name="nfiltro" id="ifiltro" value="{% if get.filtro %}{{ get.filtro  }}{% endif %}">
  </form>
  
  <main class="container-fluid">
    <div class="row">
      <div class="col-sm-5">
      <h2>Base de dados</h2>
  {% if mercadologica_list %}
      <ul class="flex-column" style="list-style-type:none;">
        {% for mercadologica in mercadologica_list %}
          <li>
          {% if mercadologica.codigo != "0" %}
            {{mercadologica.codigo}} - {% endif %}{{mercadologica.descricao}}
            <span class="badge bg-info">ID: {{ mercadologica.id}}
            </span>
            
          </li>
        {% endfor %}
      </ul>
  {% else %}
        <p>Não tem lista Mercadologica</p>
  {% endif %}
    </div>
    <div class="col-sm-7">
      <h2>Arquivo de referencia</h2>
      <ul id="refmerc" class="flex-column" style="list-style-type:none;">
  {% if arqjson %}
    {% for obj in arqjson %}
      
        <li name="id{{ obj.id }}">
        {% if obj.cod != 0 %}
          {{obj.cod}} - {% endif %} {{ obj.desc }}
          {% if obj.ID %}
            <span class="badge bg-success">{{ obj.ID }}</span>
          {% else %}
            <span class="badge bg-danger">{{ obj }}</span>
          {% endif %}
          {% if obj.tag %}
          <span class="badge bg-info">Venda: {{ obj.tag.VENDA }} - Margem: {{ obj.tag.MARGEM }} </span>
          {% endif %}
        </li>
      
    {% endfor %}
  {% endif %}
      </ul>
    </div>
  </div>
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div id=modalmercadologica></div>
        <!-- Modal Header -->
        <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
        Modal body..
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
  </main>
  <script>
    
  </script>
  
{% endblock %}
{% block pagination %}
  {% if is_paginated %}
    <div class="pagination justify-content-center">
        <span class="page-item row">
            {% if page_obj.has_previous %}
            {% if page_obj.previous_page_number > 1 %}
            <span class="page-item col"><a class="page-link" 
                href="{{ request.path }}?page=1{% if get.paginat %}&npaginat={{ get.paginat }}{% endif %}{% if get.filtro %}&nfiltro={{ get.filtro }}{% endif %}">1<<</a></span>
            {% endif %} 
            {% if page_obj.previous_page_number > 2 %}
            <span class="page-item col"><a class="page-link" 
                href="{{ request.path }}?page={{ page_obj.previous_page_number|add:'-1' }}{% if get.paginat %}&npaginat={{ get.paginat }}{% endif %}{% if get.filtro %}&nfiltro={{ get.filtro }}{% endif %}">
                {{ page_obj.previous_page_number|add:'-1' }}</a></span>
            {% endif %}
            <span class="page-item col"><a class="page-link" 
                href="{{ request.path }}?page={{ page_obj.previous_page_number }}{% if get.paginat %}&npaginat={{ get.paginat }}{% endif %}{% if get.filtro %}&nfiltro={{ get.filtro }}{% endif %}">
                {{ page_obj.previous_page_number }}</a></span>
            {% endif %}
            <span class="page-current page-item active col">
                <span class="page-current page-link">{{ page_obj.number }}</span>
            </span>
            {% if page_obj.has_next %}
            <span class="page-item col"><a class="page-link"
                href="{{ request.path }}?page={{ page_obj.next_page_number }}{% if get.paginat %}&npaginat={{ get.paginat }}{% endif %}{% if get.filtro %}&nfiltro={{ get.filtro }}{% endif %}">{{ page_obj.next_page_number }}</a></span>
                {% if page_obj.next_page_number < page_obj.paginator.num_pages|add:'-1' %}
                <span class="page-item col"><a class="page-link"
                    href="{{ request.path }}?page={{ page_obj.next_page_number|add:'1' }}{% if get.paginat %}&npaginat={{ get.paginat }}{% endif %}{% if get.filtro %}&nfiltro={{ get.filtro }}{% endif %}">
                    {{ page_obj.next_page_number|add:'1' }}</a></span>
                {% endif %}
                {% if page_obj.next_page_number < page_obj.paginator.num_pages %}
            <span class="page-item col"><a class="page-link"
                href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}{% if get.paginat %}&npaginat={{ get.paginat }}{% endif %}{% if get.filtro %}&nfiltro={{ get.filtro }}{% endif %}">
                >>{{ page_obj.paginator.num_pages }}</a></span>
            {% endif %}
            {% endif %}
        </span>
    </div>
  {% endif %}
{% endblock %}